* {
  box-sizing: border-box;
}

.top-page-header {
  width: 100vw;
  padding: 10px 0 20px 0;
  display: flex;
  flex-direction: column;
  height: 65vh;
  background-image: url('book.jpg');
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: cover;
  opacity: 0.8;
}

.header-page-contents {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0 30px 0;
}

.lists-right {
  display: flex;
  list-style: none;
  margin:0 30px 0 auto
}

.main-header {
  font-family: 'Piazzolla', serif;
  padding-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color:#c1994d;
}

.main-header-top {
  font-size: 30px;
  margin-bottom: 15px;
}

.nav {
  font-size: 18px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  padding: 1vh 0;
}

.lists-left {
  display: flex;
  min-width: 200px;

}


.brand-list {
  text-decoration: none;
  color: #333333;
}

.lists-right {
  display: flex;
  list-style: none;
  align-items: flex-end;
}


.user-nickname {
  text-decoration: none;
  margin-right: 3vw;
  color: #333333;
  font-weight: bold;
}


.logout {
  text-decoration: none;
  color: cornflowerblue;
}

.login {
  text-decoration: none;
  margin-right: 3vw;
  color: darkolivegreen;
}

.sign-up {
  text-decoration: none;
  color: darkolivegreen;
}